/* Add todo  */

.add-item {
  display: flex;
  align-items: center;
}

.add-item i {
  cursor: pointer;
  color: DodgerBlue;
  font-size: 1.5rem;
  padding: 15px 5px 15px 15px;
}

.add-item input {
  font-size: 1rem;
  padding: 6px 8px;
  width: 100%;
  margin-right: 15px;
}

.large {
  font-size: 2rem;
}
